on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    setprop ro.jbtest.init-on-boot yes

    # unmap left alt to avoid console switch
    setkey 0x0 0x38 0x0

    # heroc reset SEND+MENU+END
    setkey 0x0 0xe7 0x706
    setkey 0x0 0x8b 0x707

    setkey 0x40 0xe7 0x706
    setkey 0x40 0x8b 0x707

    setkey 0x80 0xe7 0x706
    setkey 0x80 0x8b 0x707

    setkey 0xc0 0xe7 0x706
    setkey 0xc0 0x8b 0x707
    setkey 0xc0 0x6b 0x20c

on fs
    # setup sdcard and mount
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

    #Xdandroid permissions
    chmod 0777 /dev/smd0
    chmod 0777 /dev/smd1
    chmod 0777 /dev/smd7
    chmod 0777 /dev/smd27
    chmod 0777 /dev/vfe
    chmod 0777 /dev/camera
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /dev/ttyMSM0
    chmod 0666                /dev/ttyHS1
    chown root radio /proc/cmdline
    chmod 666 /proc/cmdline
    chmod 666 /dev/input/event0
    chmod 666 /dev/input/event1
    chmod 666 /dev/input/event2
    chmod 666 /dev/input/event3
    chmod 666 /dev/input/event4
    chmod 666 /dev/input/event5
    chmod 666 /dev/input/event6
    chmod 666 /sys/devices/virtual/input/input1/mode
    chmod 666 /sys/devices/virtual/input/input1/delay
    chmod 666 /sys/devices/virtual/input/input2/mode
    chmod 666 /sys/devices/virtual/input/input2/delay
    chmod 666 /sys/devices/virtual/input/input3/mode
    chmod 666 /sys/devices/virtual/input/input3/delay
    chmod 666 /sys/devices/virtual/input/input4/mode
    chmod 666 /sys/devices/virtual/input/input4/delay
    chmod 666 /sys/devices/virtual/input/input5/mode
    chmod 666 /sys/devices/virtual/input/input5/delay
    chmod 666 /sys/devices/virtual/input/input6/mode
    chmod 666 /sys/devices/virtual/input/input6/delay
    chmod 666 /sys/class/i2c-adapter/i2c-0/0-0018/enable
    chmod 666 /sys/class/i2c-adapter/i2c-0/0-0019/enable
    chmod 666 /sys/class/i2c-adapter/i2c-0/0-0018/rate
    chmod 666 /sys/class/i2c-adapter/i2c-0/0-0019/rate
    chmod 666 /sys/class/i2c-adapter/i2c-0/0-0018/scale
    chmod 666 /sys/class/i2c-adapter/i2c-0/0-0019/scale
    chmod 666 /dev/uinput
    chmod 666 /etc/bluez/audio.conf
    chmod 666 /etc/bluez/hcid.conf
    chmod 666 /etc/bluez/input.conf
    chmod 666 /dev/msm_snd
    chmod 666 /dev/msm_pcm_in
    chmod 666 /dev/msm_audpre
    chmod 666 /dev/msm_mp3
    chmod 666 /dev/msm_pcm_out
    chmod 666 /dev/msm_pcm_ctl
    chmod 666 /dev/msm_hw3dm
    chmod 666 /dev/msm_hw3dc
    chmod 666 /dev/htc_acoustic_wince
    chmod 666 /dev/tpa2016d2
    chmod 666 /dev/audience_A1010
    chmod 666 /dev/cm3602

    write /sys/devices/virtual/vtconsole/vtcon1/bind 0
    # bluetooth power up/down interface
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0600 /dev/ttyHS0
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth sys/devices/platform/msm_serial_hs.0/serial_lock_cpu
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/serial_lock_cpu

    # Permissions for camera access
    chmod 0666 /dev/msm_camera/config0
    chmod 0666 /dev/msm_camera/control0
    chmod 0666 /dev/mem_camera/frame0

    chmod 0666 /dev/graphics/fb0

    # Permissions for Liblights.
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/color
    chown system system /sys/class/leds/jogball-backlight/period
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness

    # set CABC permissions
    chown system system /sys/class/leds/lcd-backlight/auto

# Enable low memory killer to check file pages
    write /sys/module/lowmemorykiller/parameters/minfile 0,0,0,0,5632,6144
    write /sys/module/lowmemorykiller/parameters/check_filepages 1

on post-fs-data 
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

# compass/accelerometer daemon
service akmd /system/bin/akmd
    class main
    user compass
    group compass misc input

service wlan_loader /system/bin/wlan_loader \
    -f /system/etc/wifi/Fw1251r1c.bin -e /proc/calibration \
    -i /system/etc/wifi/tiwlan.ini
    class main
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dtiwlan0 -itiwlan0 -c/data/misc/wifi/wpa_supplicant.conf -q
    class main
    socket wpa_tiwlan0 dgram 0660 wifi wifi
    disabled
    oneshot

service dhcpcd_tiwlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_tiwlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service hciattach /system/bin/hciattach
    user bluetooth
    group bluetooth net_bt_admin
    disabled

# bugreport is triggered by the KEY_BACK and KEY_MENU keycodes
service bugreport /system/bin/dumpstate -d -v -z -o /sdcard/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 158 139

service pppd_gprs /system/bin/pppd_runner
    disabled
    oneshot

on property:ril.pppd_runner.data_ready=true
    start pppd_gprs

on property:ril.pppd_runner.data_ready=false
    stop pppd_gprs
